/* The class names and style declarations below were added to help you get started.
If you would prefer, you can delete them and use your own classes and style declarations. */

body {
  margin: 0;
  width: 100%;
}

nav {
  background-color: green;
  position:fixed;
  padding-left: 0px;
}

ul {
  margin: 0;
  text-align:left;
  width: 100%;
  padding: 15px 0px 15px 0px;
}

li {
  display:inline;
  color:white;
  width:100%;
}

a {
  color: white;
  text-decoration: none;
  width:100%;
  padding: 14px 16px;
}

a:hover {
  background-color: orange;
  color: black;
  width: 100%;
  padding: 16px 16px;
}
li {
  display:inline;
  color:white;
  width:100%;
}

